---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>STAGGMAN®</h1>
			<p>
				Welcome to the official site for <a href="https://staggman.com/">Staggman®</a>. It is more than just entertainment. It is the beginning of a new generation of creatives, ready to level up, show up, and glow up.
			</p>
			<p>
				Welcome to STAGGMAN. Our full site is coming soon.<br>
				For bookings and enquiries, reach us at
				<a href="mailto:bookings@staggmanmusic.com">bookings@staggmanmusic.com</a>
				or
				<a href="mailto:info@staggmanmusic.com">info@staggmanmusic.com</a>.
			</p>
			<p>
				For direct PR enquiries, email
				<a href="mailto:Eugene@staggmanmusic.com">Eugene M</a>.
			</p>
			<p>Here is the STAGGMAN landing page for now.</p>
			<ul>
				<li>Update this page in <code>src/pages/index.astro</code></li>
				<li>Update the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your details to the footer in <code>src/components/Footer.astro</code></li>
				<li>Remove the blog demo content if you do not need it</li>
				<li>Customize the layout anytime in <code>src/layouts/</code></li>
			</ul>
			<p>
				We are building something bigger. If you need to get in touch, use the contact details above.
			</p>
		</main>
		<Footer />
	</body>
</html>
